<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacunación</title>
    <link rel="stylesheet" href="../styles/index.css" type="text/css">
    <link rel="stylesheet" href="../styles/news.css" type="text/css">
    <script src="https://kit.fontawesome.com/80f89c982c.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container">
        <header>
            <nav class="flex-container">
                <div class="caja">
                    <a href="../index.html">
                        <img class="logo" src="../assets/img/vaccination-logo.png" alt="vacination-logo">
                    </a>
                </div>
                
                <ul class="flex-container">
                    <li><a href="#database">Database</a></li>
                    <li><a href="#education">Education</a></li>
                    <li><a href="./news.html">News</a></li>
                    <li><a href="#regulation">Regulation</a></li>
                    <li><a class="btn-nav" href="#hoaxBuster">Hoax Buster</a></li>
                </ul>
            </nav>
        </header>
                
        <div class="news-banner-master-box">
            <div class="news-banner-data-box">
                <h1>News <br>about Vaccines</h1>
                <p>Let's stop this pandemic by killing the virus 
                    <br> with a vaccine, don't let yourself and your 
                    <br> family get infected</p>
            </div>
            
            <div class="news-banner-img-box">
                <img class="banner-news" src="../assets/img/news-banner.jpg" alt="banner">
            </div>
        </div>

        <section class="section-container">            
            <article class="article-box">

                <div class="div-image-article">
                    <img class="image-article" src="../assets/img/news/news1.jpg" alt="news image">
                </div>

                <div class="div-text-article">
                    <h3>News 1</h3>
                    <p>Vaccinace has been proven effective to prevent someone from getting infected with Coronavirus</p>    
                    <button class="btn-news">Read more</button>
                </div>
            </article>

            <article class="article-box">
                <div class="div-image-article">
                    <img class="image-article" src="../assets/img/news/news2.jpg" alt="news image">
                </div>

                <div>
                    <h3>News 2</h3>
                    <p>Vaccinace has been proven effective to prevent someone from getting infected with Coronavirus</p>    
                    <button class="btn-news">Read more</button>
                </div>
            </article>

            <article class="article-box">
                <div class="div-image-article">
                    <img class="image-article" src="../assets/img/news/news3.jpeg" alt="news image">
                </div>

                <div>
                    <h3>News 3</h3>
                    <p>Vaccinace has been proven effective to prevent someone from getting infected with Coronavirus</p>    
                    <button class="btn-news">Read more</button>
                </div>
            </article>

            <article class="article-box">
                <div class="div-image-article">
                    <img class="image-article" src="../assets/img/news/news4.jpg" alt="news image">
                </div>

                <div>
                    <h3>News 4</h3>
                    <p>Vaccinace has been proven effective to prevent someone from getting infected with Coronavirus</p>    
                    <button class="btn-news">Read more</button>
                </div>
            </article>
        </section>
        
        <footer>
            <div class="data-footer">
                <div class="caja">
                    <a href="../index.html">
                        <img class="logo" src="../assets/img/vaccination-logo.png" alt="Avatar">
                    </a>
                    <p>Our goal is to help the world free from the ongoing pandemic</p>
                </div>

                <div>
                    <h3>About</h3>
                    <ul class="footer">
                        <li><a href="#about">About Us</a></li>
                        <li><a href="#features">Features</a></li>
                        <li><a href="#news">News & blog</a></li>
                    </ul>
                </div>
            

                <div>
                    <h3>Company</h3>
                    <ul class="footer">
                        <li><a href="#how-work">How we work?</a></li>
                        <li><a href="#capital">Capital</a></li>
                        <li><a href="#security">Security</a></li>
                    </ul>
                </div>
                
                <div>
                    <h3>Support</h3>
                    <ul class="footer">
                        <li><a href="#faq">FAQ's</a></li>
                        <li><a href="#support">Support center</a></li>
                        <li><a href="#contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>

            <div class="data-footer">
                <p>@2022 Vaccination. All rights reserved</p>

                <div>
                    <a class="text-small" href="#">Terms & Agremments</a> |
                    <a class="text-small" href="#">Privacy Policy</a>
                </div>
            </div>           
        </footer>

        <script src="./js/index.js"></script>
    </div>
</body>
</html>